@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */

.navbar {
    background: linear-gradient(to right, #750dde, #f59a9f);
    padding: 10px;
    color: white;
    box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.548);
    position: sticky;
    top: 0;
    z-index: 100;
}

.brand-logo {
    font-family: "Roboto";
    color: #4dc9f6;
    font-size: 24px;
    font-weight: 700;
    border: 3px white solid;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.brand-icon {
    color: #fff;
}

/* .brand-icon:hover {
    color: var(--yellow);
} */

.nav-heading {
    color: white;
    font-size: 20px;
    font-family: "Playfair display SC";
    text-align: right;
}

#navItem1,
#navItem2,
#navItem3,
#navItem4,
#navItem5,
#navItem6 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
    /*   transition: all 1s */
}

#navItem1:hover,
#navItem2:hover,
#navItem3:hover,
#navItem4:hover,
#navItem5:hover,
#navItem6:hover {
    /*  background-color: #fff;
        border-radius: 7px; */
    /*  color: rgb(22, 7, 36); */
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    /*  transition-duration: 0.6s; */
    /* transition-delay: .3s; */
}

.banner-section {
    background-color: #191a1d;
    height: 100vh;
}

.profile-heading {
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
    color: #ffffff;
}

.profile-description {
    font-family: "Roboto";
    font-size: 24px;
    color: #9aa5b1;
}

.button {
    color: #ffffff;
    background-color: #4b6cc1;
    border-radius: 8px;
    border-width: 0px;
    height: 45px;
    width: 130px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto";
    cursor: pointer;
    box-shadow: 1px 1px 1px
}

.button:hover {
    color: #4b6cc1;
    background-color: #f1e8e0;
    border: 2px solid #4b6cc1;
}

/* .contact-link {
    color: #ffffff;
    font-weight: 200;
} */

.span-name {
    color: #4b6cc1;
    font-family: "Playfair display";
    font-weight: 700;
}

.span-name:hover {
    color: var(--yellow);
    transition: all 0.8s linear;
}

.profile-image {
    width: 280px;
    margin-bottom: 10px;
    border-radius: 136px;
}

.profile-image:hover {
    --s: 250px;
    /* the size of the image */
    --b: 6px;
    /* the border thickness*/
    --g: 14px;
    /* the gap */
    --c: #4ECDC4;
    /* the color */

    cursor: pointer;
    transition: 0.3s;
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}

@media screen and (min-width: 768px) {
    .profile-heading {
        font-size: 50px;
    }

    .span-name {
        font-size: 50px;
    }

    .profile-description {
        font-size: 28px;
    }

    .profile-image {
        width: 300px;
        margin-bottom: 15px;
        border-radius: 146px;
    }

    .button {
        font-size: 20px;
    }

    .banner-section {
        height: 90vh;
    }
}

/* Portfolio Website About Me & Skills Sections */

.aboutme-section {
    background-color: #323f4b;
}

.title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    color: #cced00;

}

.pf-heading {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
    color: #cced00
        /* #ffffff */
    ;
}

.pf-description {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    color: #9aa5b1;
}

.sectionimage {
    border-radius: 10px;
    filter: grayscale(100%);
}

.language-style {
    font-weight: 600;
    font-style: italic;
}

@media screen and (min-width: 768px) {
    .pf-description {
        font-size: 22px;
    }
}

/* Skills Section */

.skills-section {
    background-color: #1f2933;
}

.skillcard {
    background-color: #323f4b;
    border-radius: 8px;
    padding: 10px;
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.80); */
    border-bottom: 5px solid #5a7184;
    border-left: 4px solid #9aa5b1;
    transition: 1.5s ease-in;
}

.skillcard:hover {
    border-left-color: #fff;
    transform: scale(1.10);
}

.image {
    width: 64px;
    height: 64px;
}

.cardtitle {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
}

/* Portfolio Website Projects Section */

.portfolio-section {
    background-color: #3e4c59;
}

.project-title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    color: #cced00;
}

.project-heading {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    color: #cced00
        /*  #ffffff */
    ;
}

.pr-image {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 40vh;
    width: 100%;
    transition: 1.10s;
}

.pr-image:hover {
    transform: scale(1.05);
    z-index: 2;
}

.pr-item-card {
    background-color: #323f4b;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.80);
}

.pr-sub-title {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    color: #9aa5b1;
}

.pr-card-title {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 5px;
}

.pr-description {
    font-family: "Roboto";
    font-size: 20px;
    color: #9aa5b1;
}

.pr-link-item {
    color: #cced00;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 14px;
}

/*  Portfolio Website Services Section */

.services-section {
    background-color: #52606d;

}

.sv-title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    color: #cced00;
}

.sv-heading {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

.sv-card {
    background-color: #323f4b;
    border-radius: 8px;
    padding: 20px;
    transition: 1.10s;
    /*  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.80); */
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* .sv-card:hover {
    transform: scale(1.05);
    z-index: 2;
} */
.services-section:hover .sv-card {
    filter: blur(5px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}

.services-section:hover .sv-card:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
    background: #0c4a6e
        /* #A82C2C */
    ;
    color: white;
}

.sv-cardtitle {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.sv-description {
    font-family: "Roboto";
    font-size: 20px;
    color: #9aa5b1;
}

.sv-image {
    height: 48px;
    width: 48px;
}

/*  Portfolio Website Work Done Section */

.work-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    background-size: cover;

}

.wrk-heading {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.wrk-description {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
}

.hr-line {
    background-color: #ffffff;
    width: 60px;
}

/*  Portfolio Website Testimonials Section */

.testimonial-section {
    background-color: #1f2933;
    padding: 40px;
}

.t-sub-heading {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    color: #cced00;
}

.t-heading {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

.t-persons-card {
    background-color: #323f4b;
    box-shadow: 0 8px 30px -7px;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
}

.t-image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 15px;
    box-shadow: 0 8px 20px -4px;
}

.t-paragraph {
    font-family: "Roboto";
    font-size: 18px;
    color: #9aa5b1;
}

.t-person-name {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .t-paragraph {
        font-size: 20px;
    }
}

/*   Portfolio Website Footer Section */

.footer-section {
    background-color: #0d2436;
}

.image {
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.heading {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    color: #cced00;
}

.text {
    font-family: "Roboto";
    font-size: 15px;
    color: #9aa5b1;
    transition: .2s linear;
}

.text:hover {
    transform: scale(1.1);
}

/*  Portfolio Website FollowUs Section */

.footer-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #323f4b;
}

.followus-heading {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    color: #cced00;
}

.footer-sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    cursor: pointer;
}

.footer-logo-icon {
    color: black;
    font-size: 28px;
}

.footer-logo-icon:hover {
    color: #fff;
}

.footer-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    /*  box-shadow: -5px 5px 15px #333; */
    background-color: #fff;
    border-radius: 40px;
    margin-right: 18px;
    cursor: pointer;
}

.twitter:hover {
    background-color: #1da1f2;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    outline-color: #1da1f2;
    transition-duration: 0.25s;
    outline-offset: 4px;
}

.instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    outline-color: #a02d76;
    transition-duration: 0.25s;
    outline-offset: 4px;
}

.github:hover {
    background-color: black;
    outline: 2px solid #fff;
    outline-color: black;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
    outline-offset: 4px;
}

.linkedin:hover {
    background-color: #0077b5;
    outline: 2px solid #fff;
    outline-color: #0077b5;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
    outline-offset: 4px;
}

@media screen and (min-width: 768px) {
    .footer-logo-icon {
        font-size: 32px;
    }
}

/* Copyright Text */

.footer-subsection {
    background-color: #001c32;
    color: white;
    padding: 10px;
    text-align: center;
}

.description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 15px;
}

.foot-icon {
    color: #5a7184;
    font-size: 18px;
}

@media screen and (min-width: 768px) {
    .description {
        font-size: 17px;
    }

    .foot-icon {
        font-size: 20px;
    }
}